.about-card {
  background-color: var(--color-dark-nude);
  text-align: center;
  position: relative;
  padding: 1rem 0;
}

.about-items {
  background-color:var(--color-white);
  width: 65%;
  margin: 5rem auto;
  text-align: start;
  padding: 30px 80px;
}

.about-items h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-1);
  margin-bottom: 1rem;
  color: var(--color-brown);
}

.about-items p {
  font-size: 1.0rem;
  font-family: var(--font-family-2);
  color: var(--color-brown);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.resume-img{
  position: absolute;
  top: 35%; 
  left: 10%; 
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  z-index: 1; 
}

/* Responsive */
@media screen and (max-width: 1020px) {
  .about-items {
    width: 75%;
    padding: 30px;
  }

  .resume-img{
    width: 110px; 
    height: 110px; 
    left: 3%;
    top: 35%;
  }

}

@media screen and (max-width: 900px) {
  .about-items h2 {
    font-size: 1.3rem;
  }

  .about-items p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 840px){
  .resume-img{
    left: 1%;
  }
}

@media screen and (max-width: 740px){
  .resume-img{
    display: none;
  }

  .about-items{
  width: 100%;
  }
}
