.project-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem 1rem;
 }

 .project-page .title{
  margin-top: 15rem;
 }

 .extra-card{
  background-color: var(--color-dark-nude);
  padding: 6rem 0;
 }

 .extra-card-item h1 {
  font-size: 1.8rem;
  font-family: var(--font-family-2);
  color: var(--color-brown);
  text-align: center;
}

.auto-type, .typed-cursor{
  color: var(--color-white);
}

/* Responsive */
@media screen and (max-width: 680px){
  .project-page .subtitle{
    font-size: 4rem;
  }

  .extra-card{
    background-color: var(--color-dark-nude);
    padding: 4rem 0;
   }

  .extra-card-item h1{
  font-size: 1.4rem;
  }
}