.projects-section{
  background-color: var(--color-light-gray);
}


/* Responsive */
@media (max-width: 780px) {
  .project-card{
    width: 100%;
  }

  .see-more {
    font-size: 1rem;
  }
}

@media screen and (max-width: 580px) {
  .slick-prev {
    left: 30px;
    top: 150px;
  }

  .slick-next {
    right: 30px;
    top: 150px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 24px;
    line-height: 1;
    opacity: 0.75;
    color: white;
  }

}
