.home{
  display: flex;
  justify-content: center;
  }

.home-bg{
  text-align:center;
  margin: 10rem auto 13rem;
  display: flex;
  flex-direction: column;
}

.home-bg p {
  font-family: var(--font-family-2);
  font-size: 1.5rem;
  text-align: right;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 95%;
}

.profile-img{
  position: absolute; 
  z-index: 1; 
  left: 7%;
}

.home-card{
  background-color: var(--color-white);
  max-width: 60%;
  padding: 3rem 2rem;
  margin-left: 400px;
  z-index: 50;
  position: relative;
}

.home-card h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-1);
  margin-bottom: 1rem;
  color: var(--color-brown);
}

.home-card p{
  font-size: 1.0rem;
  font-family: var(--font-family-2);
  color: var(--color-brown);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.home-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.home-icons ul{
  display: flex;
}

.home-icons .social-icons img {
  width: 20px;
  height: 20px;
  margin: .5rem;
}


/* Responsive */
@media screen and (max-width: 1050px){
  .profile-img{
    left: 0%;
  }
}

@media screen and (max-width: 900px) {
  .profile-img{
    width: 300px;
  }

  .home-card{
    margin-left: 300px;
    max-width: 65%;
  }
}


@media screen and (max-width: 850px) {
  .home-bg{
    margin-bottom: 24rem;
  }

  .home-bg p{
    text-align: center;
  }

  .home-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .profile-img {
    top: -410px;
    left: auto;
    z-index: 100;
  }

  .home-card {
    margin:0px auto auto; 
    max-width: 100%;
    padding: 2rem;

  }

}
@media screen and (max-width: 780px){
  .home-wrapper{
    max-width: 100%;
  }
}

/* @media screen and (max-width: 550px){
  .home-card {
    padding: 2rem;
  }
} */

@media screen and (max-width: 460px){
  .profile-img {
    width: 250px;
    top: -350px;
  }

  .home-items{
    flex-direction: column; 
    align-items:flex-start;
  }

  .home-button{
    margin-bottom: 10px;
  }
}